numpy==1.20.3
scipy==1.5.2
numba==0.51.2
pytest==6.2.4
setuptools==58.0.4
matplotlib==3.3.2
seaborn==0.11.2
pandas==1.1.3
distributed==2021.4.0
plotly==4.14.3
keras==2.2.4
ipython==7.27.0
tensorflow==1.15.0
tensorflow-gpu==2.1.0